/* mapas */
/* extend */
.productos .productos__categorias .categorias__categoria .categoria__subtitulo {
  background-image: linear-gradient(90deg, #0046d3 0%, #0055ff 35%, #00cbd7 100%);
  color: #fff !important;
  padding: 1rem; }

/* mixin */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

.subtitulo2 {
  font-weight: 700; }

p, h1, h2, h3, h4, h5, h6 {
  color: #0055ff; }

body {
  min-height: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 4rem auto 9rem; }

.inicio, .novedades, .productos, .htp, .contactanos {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.titulo {
  font-size: 3rem;
  padding: 0 1rem;
  border: #0055ff solid 0.1rem;
  margin: 2rem 0 1rem 0; }

@media only screen and (min-width: 768px) {
  .titulo {
    width: 50%;
    text-align: center; } }

.header {
  position: fixed;
  width: 100vw;
  z-index: 1000; }
  .header .header__nav {
    background-color: #0055ff; }
    .header .header__nav .nav__logo {
      height: 3rem;
      width: 6.8rem; }
    .header .header__nav .nav__boton {
      right: 1rem; }
    .header .header__nav .li__a {
      color: #fff !important; }

.footer {
  grid-area: footer;
  background-color: #0055ff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .footer a {
    color: #fff !important; }
  .footer .footer__subtitulo {
    font-size: 1.2rem;
    margin: .5rem 0;
    padding: .5rem 0;
    border-bottom: solid 1px #fff !important;
    color: #fff !important; }
  .footer .footer__seguinos {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
    .footer .footer__seguinos .seguinos__subtitulo {
      color: #fff !important; }
    .footer .footer__seguinos .seguinos__icon {
      font-size: 2rem; }

.inicio {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  /* 1er hijo */
  /* 2do hijo */
  /* 3er hijo */
  /* 4to hijo */ }
  .inicio .inicio__background {
    width: 100vw;
    height: 50vh;
    background-color: #0055ff;
    background-image: linear-gradient(90deg, #0046d3 0%, #0055ff 35%, #00cbd7 100%);
    box-shadow: 0.2rem 0.2rem 1.5rem #5572ac;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap; }
    .inicio .inicio__background .background__titulo {
      width: 100%;
      font-size: 2.1rem;
      padding: 1rem;
      color: #fff !important; }
    .inicio .inicio__background .background__logo {
      height: 3rem;
      width: 6.8rem;
      margin: 1rem; }
      .inicio .inicio__background .background__logo .logo__img {
        width: 100%; }
  .inicio .inicio__introduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 2rem; }
    .inicio .inicio__introduccion .introduccion__subtitulo {
      grid-area: hola;
      font-size: 1.2rem;
      text-align: center; }
    .inicio .inicio__introduccion .introduccion__texto {
      grid-area: texto;
      text-align: end;
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: 0.1rem solid #0055ff; }
    .inicio .inicio__introduccion .introduccion__icono {
      grid-area: icono;
      width: 10rem;
      height: 10rem; }
      .inicio .inicio__introduccion .introduccion__icono .icono__img {
        width: 100%; }
  .inicio .inicio__bienvenidos {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap; }
    .inicio .inicio__bienvenidos .bienvenidos__subtitulo {
      font-size: 1.1rem; }
    .inicio .inicio__bienvenidos .bienvenidos__texto {
      margin: 0 1rem;
      padding: 0 1rem;
      border-left: solid 1px #0055ff; }
  .inicio .inicio__enlaces {
    padding-bottom: 3rem;
    margin-top: 1rem; }
    .inicio .inicio__enlaces .enlaces__enlace {
      background-color: #0055ff;
      position: relative;
      padding: 0;
      margin-bottom: 2rem !important;
      border-radius: .2rem;
      box-shadow: 0.1rem 0.1rem 1.5rem #adadad; }
      .inicio .inicio__enlaces .enlaces__enlace .enlace__ancor .ancor__img {
        opacity: .5; }
      .inicio .inicio__enlaces .enlaces__enlace .enlace__ancor .ancor__texto {
        position: absolute;
        z-index: 100;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        color: #fff !important;
        left: 50%;
        top: 25%;
        font-weight: 900;
        letter-spacing: .3rem; }

/* tablet */
@media only screen and (min-width: 768px) {
  .inicio {
    /* 1er hijo */
    /* 2do hijo */
    /* 3er hijo */
    /* 4to hijo */ }
    .inicio .inicio__background {
      height: 75vh;
      background-image: linear-gradient(90deg, #0339a4 0%, #0055ff 35%, #00cbd7 100%);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: nowrap; }
      .inicio .inicio__background .background__titulo {
        font-size: 3rem;
        padding-left: 2rem;
        width: 75%; }
      .inicio .inicio__background .background__logo {
        height: 5rem;
        width: 10.8rem;
        margin-left: 2rem; }
        .inicio .inicio__background .background__logo .logo__img {
          width: 100%; }
    .inicio .inicio__introduccion {
      width: 100%;
      display: grid;
      grid-template-areas: "hola hola" "icono texto" "icono texto";
      grid-template-columns: 12rem auto; }
      .inicio .inicio__introduccion .introduccion__subtitulo {
        font-size: 2rem; }
      .inicio .inicio__introduccion .introduccion__texto {
        font-size: 1.5rem; }
      .inicio .inicio__introduccion .introduccion__icono {
        margin: 0 2rem; }
    .inicio .inicio__bienvenidos {
      width: 90vw;
      flex-direction: row; }
      .inicio .inicio__bienvenidos .bienvenidos__subtitulo {
        font-size: 1.5rem;
        text-align: center; }
      .inicio .inicio__bienvenidos .bienvenidos__texto {
        padding: 2rem;
        font-size: 1.5rem; }
    .inicio .inicio__enlaces {
      margin-top: 3rem; } }

/* Desktop*/
@media only screen and (min-width: 992px) {
  .inicio {
    /* 1er hijo */ }
    .inicio .inicio__background .background__titulo {
      font-size: 3.5rem; } }

.novedades .novedades__titulo {
  font-size: 3rem; }

.novedades .novedades__carrusel {
  background-image: linear-gradient(90deg, #0046d3 0%, #0055ff 35%, #01c2cc 100%);
  box-shadow: 0.1rem 0.1rem 2rem #cfcfcf;
  margin-top: 1rem;
  height: 37.5rem;
  display: flex;
  align-items: center; }

.novedades .novedades__texto {
  width: 17rem;
  text-align: end;
  padding: .2rem .8rem .2rem 0;
  margin-right: 1rem;
  border-right: solid #05f 1px;
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-top: 2rem; }
  .novedades .novedades__texto .texto__subtitulo {
    font-size: 1.5rem; }
  .novedades .novedades__texto .texto__nov {
    font-size: 1.2rem; }
  .novedades .novedades__texto i {
    font-size: 1.9rem;
    transform: translate(100%, -50%);
    color: #0055ff; }

@media only screen and (min-width: 768px) {
  .novedades {
    height: 50rem;
    /* 1er hijo */
    /* 2do hijo */
    /* 3er hijo */ }
    .novedades .novedades__titulo {
      width: 50%;
      text-align: center;
      border: .1rem #05f solid; }
    .novedades .novedades__carrusel {
      width: 100% !important; }
    .novedades .carrusel__bootstrap {
      width: 75% !important;
      height: 80% !important;
      margin: auto;
      box-shadow: 0.2rem 0.2rem 1.5rem #2f3541; }
      .novedades .carrusel__bootstrap .carrusel__img {
        height: 26rem;
        width: 25rem; }
    .novedades .novedades__texto {
      width: 80%;
      margin-bottom: 2rem;
      margin-top: 1rem; } }

.productos {
  row-gap: 1rem;
  /* 1er hijo */
  /* 2do hijo */ }
  .productos .productos__titulo {
    font-size: 3rem; }
  .productos .productos__categorias .categorias__subtitulo {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
    font-weight: 700; }
  .productos .productos__categorias .categorias__categoria .categoria__subtitulo {
    text-align: center;
    margin: auto 0;
    border-color: #fff !important;
    box-shadow: 0.1rem 0.1rem 1rem #adadad; }
  .productos .productos__categorias .categorias__categoria .categoria__galeria {
    margin: .5rem auto 2rem auto !important; }
    .productos .productos__categorias .categorias__categoria .categoria__galeria .galeria__img {
      margin: 1rem auto;
      box-shadow: 0.1rem 0.1rem 1rem #adadad; }
    .productos .productos__categorias .categorias__categoria .categoria__galeria .galeria__subtitulo {
      font-size: 1rem; }

/* Tablet */
@media only screen and (min-width: 768px) {
  .productos {
    /* 2do hijo */ }
    .productos .productos__categorias {
      border: solid 0.1rem #0055ff;
      border-radius: .5rem;
      box-shadow: 0.1rem 0.1rem 2rem #cfcfcf;
      margin: 2rem auto 3rem auto; }
      .productos .productos__categorias .categorias__subtitulo {
        font-size: 2rem; }
      .productos .productos__categorias .categorias__categoria {
        padding-bottom: 5rem; }
        .productos .productos__categorias .categorias__categoria .impar {
          border-left: solid 0.1rem #0055ff; }
        .productos .productos__categorias .categorias__categoria .par {
          border-right: solid 0.1rem #0055ff; }
        .productos .productos__categorias .categorias__categoria .categoria__galeria .galeria__subtitulo {
          font-size: 1.4rem; } }

.htp {
  height: 65rem;
  /* 1er hijo */
  /* 2do hijo */
  /* 3er hijo */
  /* 4to hijo */ }
  .htp .htp__titulo {
    font-size: 3rem; }
  .htp .htp__SeguiLosPasos {
    background-image: linear-gradient(90deg, #0046d3 0%, #0055ff 35%, #00cbd7 100%);
    box-shadow: 0.1rem 0.1rem 1.5rem #adadad;
    height: 45rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap; }
    .htp .htp__SeguiLosPasos .SeguiLosPasos__subtitulo {
      text-align: center;
      border: solid 0.1rem #fff !important;
      box-shadow: 0.2rem 0.2rem 1rem rgba(255, 255, 255, 0.466);
      padding: 0 1rem;
      width: 90%;
      color: #fff !important; }
    .htp .htp__SeguiLosPasos .SeguiLosPasos__texto {
      font-size: 1.5rem;
      padding: 0 1rem;
      border: solid 0.1rem #fff !important;
      box-shadow: 0.2rem 0.2rem 1rem rgba(255, 255, 255, 0.466);
      color: #fff !important; }
    .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;
      list-style: none;
      padding-left: 0; }
      .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__1, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__2, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        margin: 1rem; }
        .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__1 .paso__p, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__2 .paso__p, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__3 .paso__p {
          text-align: center;
          color: #fff !important; }
          .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__1 .paso__p a, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__2 .paso__p a, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__3 .paso__p a {
            color: #fff !important; }
  .htp .htp__lugares {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap; }
    .htp .htp__lugares .lugares__subtitulo {
      font-size: 2rem;
      border: 0.1rem solid #0055ff;
      padding: 0 1rem; }
    .htp .htp__lugares .lugares__texto {
      font-size: 1.2rem;
      padding: 0 1rem;
      margin: 0 1rem;
      border-left: solid 0.1rem #0055ff; }
  .htp .htp__celular {
    display: none; }

/* Tablet */
@media only screen and (min-width: 768px) {
  /* padre */
  .htp {
    margin: 1rem;
    height: auto;
    display: grid;
    grid-template-areas: "titulo  titulo  titulo" "pasos   pasos   celular" ".       lugares lugares";
    grid-template-rows: 5rem auto auto;
    grid-template-columns: 1fr 1fr 200px;
    row-gap: 3rem;
    column-gap: 3rem;
    /* 1er hijo */
    /* 2do hijo */
    /* 3er hijo */
    /* 4to hijo */ }
    .htp .htp__titulo {
      grid-area: titulo;
      justify-self: center; }
    .htp .htp__SeguiLosPasos {
      grid-area: pasos;
      align-items: center;
      font-size: 1.2rem;
      height: 40rem; }
      .htp .htp__SeguiLosPasos .SeguiLosPasos__subtitulo {
        margin: 0 1rem;
        font-size: 1.5rem;
        width: auto; }
      .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__1, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__2, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__3 {
        display: flex;
        flex-direction: row; }
        .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__1 .paso__p, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__2 .paso__p, .htp .htp__SeguiLosPasos .SeguiLosPasos__contenedor .contenedor__pasos .paso__3 .paso__p {
          text-align: start;
          padding: 0 0 0 1rem;
          margin-left: 1rem;
          border-left: solid 0.1rem #fff !important; }
    .htp .htp__lugares {
      grid-area: lugares;
      height: 20rem;
      border: solid 0.1rem #0055ff; }
      .htp .htp__lugares .lugares__texto {
        border-left: none;
        border-right: 0.1rem solid #0055ff;
        text-align: end; }
    .htp .htp__celular {
      grid-area: celular;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap; }
      .htp .htp__celular .celular__img {
        width: 216px;
        height: 384px; } }

/* Laptop*/
@media only screen and (min-width: 992px) {
  .htp {
    grid-template-columns: 1fr 1fr 300px; }
    .htp .htp__celular .celular__img {
      width: 270px;
      height: 480px; } }

/* Desktop */
@media only screen and (min-width: 1040px) {
  .htp {
    grid-template-columns: 1fr 1fr 500px; }
    .htp .htp__celular .celular__img {
      width: 360px;
      height: 640px; } }

.contactanos {
  height: 57rem;
  overflow-x: hidden;
  /* 1er hijo */
  /* 2do hijo */
  /* 3er hijo */ }
  .contactanos .contactanos__titulo {
    width: 15rem;
    text-align: center;
    border: 0.1rem #0055ff solid; }
  .contactanos .contactanos__aclaracion {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    background-image: linear-gradient(90deg, #0046d3 0%, #0055ff 35%, #00cbd7 100%);
    box-shadow: 0.1rem 0.1rem 1rem #adadad; }
    .contactanos .contactanos__aclaracion .aclaracion__subtitulo {
      width: 50%;
      color: #fff !important;
      box-shadow: 0.2rem 0.2rem 1rem rgba(255, 255, 255, 0.466);
      border: solid 0.1rem #fff !important;
      text-align: center; }
    .contactanos .contactanos__aclaracion .aclaracion__texto2 {
      color: #fff !important;
      border-left: solid 0.1rem #fff !important;
      padding-left: 1rem;
      margin-left: 1rem; }
  .contactanos .contactanos__opciones {
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap; }
    .contactanos .contactanos__opciones .opciones__instagram {
      border: solid #0055ff 0.1rem;
      padding: .5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      width: 95vw;
      align-self: center; }
      .contactanos .contactanos__opciones .opciones__instagram .instagram__link {
        margin-left: .5rem;
        text-decoration: none;
        text-align: center;
        color: #fff !important;
        width: 6rem;
        background-image: linear-gradient(90deg, #0046d3 0%, #0055ff 35%, #00cbd7 100%);
        border-radius: .3rem; }
        .contactanos .contactanos__opciones .opciones__instagram .instagram__link:focus {
          color: #03d7e2; }
    .contactanos .contactanos__opciones .opciones__formulario {
      border: solid .1rem #babcc0;
      border-radius: .5rem;
      box-shadow: 0.2rem 0.1rem 1.5rem #c7cdda;
      box-shadow: 0.1rem 0.1rem 2rem #cfcfcf; }
      .contactanos .contactanos__opciones .opciones__formulario .formulario__contenedor .contenedor__subtitulo {
        text-align: center; }
      .contactanos .contactanos__opciones .opciones__formulario .formulario__contenedor .contenedor__form .form__input1:focus {
        box-shadow: 0.1rem 0.1rem 1rem #76a4ff;
        border: #0055ff solid 0.1rem;
        outline: none; }
      .contactanos .contactanos__opciones .opciones__formulario .formulario__contenedor .contenedor__form .form__input2:focus {
        box-shadow: 0.1rem 0.1rem 1rem #76a4ff;
        border: #0055ff solid 0.1rem;
        outline: none; }
      .contactanos .contactanos__opciones .opciones__formulario .formulario__contenedor .contenedor__form .form__input3 {
        background: #fff !important;
        border: 0.1rem #0055ff solid;
        border-radius: .2rem;
        padding: .2rem 1rem; }
        .contactanos .contactanos__opciones .opciones__formulario .formulario__contenedor .contenedor__form .form__input3:focus {
          box-shadow: 0.1rem 0.1rem 1rem #76a4ff;
          border: #0055ff solid 0.1rem;
          outline: none; }
      .contactanos .contactanos__opciones .opciones__formulario .formulario__contenedor .contenedor__form .form__input4 {
        color: #fff !important;
        background-image: linear-gradient(90deg, #0046d3 0%, #0055ff 35%, #00cbd7 100%);
        border: solid 0.1rem #fff !important;
        border-radius: .2rem;
        padding: .2rem 1rem; }
        .contactanos .contactanos__opciones .opciones__formulario .formulario__contenedor .contenedor__form .form__input4:focus {
          box-shadow: .1rem .1rem 1rem #063dac;
          border: #063dac solid .1rem;
          outline: none; }

/* Tablet */
@media only screen and (min-width: 768px) {
  .contactanos {
    height: 55rem;
    /* 1er hijo */
    /* 2do hijo */
    /* 3er hijo */ }
    .contactanos .contactanos__titulo {
      width: 50%;
      font-size: 3rem; }
    .contactanos .contactanos__aclaracion {
      align-items: flex-start;
      padding-left: 2rem;
      width: 100vw; }
      .contactanos .contactanos__aclaracion .aclaracion__subtitulo {
        margin-left: 1rem;
        width: 40vw; }
      .contactanos .contactanos__aclaracion .aclaracion__texto2 {
        padding-left: 1rem;
        margin-left: 1rem;
        width: 40vw; }
    .contactanos .contactanos__opciones .opciones__instagram {
      width: 50vw; }
    .contactanos .contactanos__opciones .opciones__form .form__subtitulo {
      text-align: start;
      margin: 1rem; } }

@media only screen and (min-width: 992px) {
  .contactanos {
    height: 60rem; }
    .contactanos .contactanos__aclaracion {
      height: 18rem; }
      .contactanos .contactanos__aclaracion .aclaracion__texto2 {
        font-size: 1.3rem; } }
