.footer{
    grid-area: footer;
    background-color: $color-primario;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    & a{
        color: $color-secundario;
    }
    .footer__subtitulo{
        font-size: 1.2rem;
        margin: .5rem 0;
        padding: .5rem 0;
        border-bottom: solid 1px $color-secundario;
        color: $color-secundario;    
    }
    .footer__seguinos{
        width: 65%;
        @include flexbox(column, center, center, nowrap);
        .seguinos__subtitulo{
            color: $color-secundario;
        }
        .seguinos__icon{
            font-size: 2rem;
        }
    }
}


