.header{
    background-color: $color-primario;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 4rem;
    .header__nav{
        background-color: $color-primario !important;
        .nav__contenedor{
            position: relative;
            .contenedor__logo{
                height: 3rem;
                width: 6.8rem; 
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, 0%);
                .logo__img{
                    width: 100%;
                }       
            }
            .contenedor__links{
                .links__ul{
                    .ul__li{
                        & a{
                            color: $color-secundario;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px){
    .header{
        .header__nav{
            .nav__contenedor{
                .contenedor__logo{
                    height: 3rem;
                    width: 6.8rem; 
                    position: relative;
                    left: 0;
                    top: 0;
                    transform: translateX(0);
                }
                .contenedor__links{
                    @include flexbox(row, flex-end, center, nowrap);
                    .links__ul{
                        .ul__li{
                            & a{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
