.contactanos{
    height: 57rem;
    overflow-x: hidden;
    /* 1er hijo */
    .contactanos__titulo{
        text-align: center;
        border: 0.1rem $color-primario solid;
    }
    /* 2do hijo */
    .contactanos__aclaracion{
        height: 15rem;
        @include flexbox(column, space-evenly, center, nowrap);
        background-image: map-get($gradiantes, mobile);
        box-shadow: map-get($shadow, chica);
        .aclaracion__subtitulo{
            width: 50%;
            color: $color-secundario;
            box-shadow: .2rem .2rem 1rem rgba(255, 255, 255, 0.466);
            border: solid .1rem $color-secundario;
            text-align: center;
        }
        .aclaracion__texto2{
            color: $color-secundario;
            border-left: solid .1rem $color-secundario;
            padding-left: 1rem;
            margin-left: 1rem;
        }
    }
    /* 3er hijo */
    .contactanos__opciones{
        height: 30rem;
        @include flexbox(column, space-around, center, nowrap);
        .opciones__instagram{
            border: solid $color-primario .1rem;
            padding: .5rem 0;
            @include flexbox(row, center, center, nowrap);
            width: 95vw;
            align-self: center;
            .instagram__link{
                margin-left: .5rem;
                text-decoration: none;
                text-align: center;
                color: $color-secundario;
                width: 6rem;
                background-image: map-get($gradiantes, mobile);
                border-radius: .3rem;
                &:focus{
                    color: #03d7e2;
                }
            }
        }
        .opciones__formulario{
            border: solid .1rem #babcc0;
            border-radius: .5rem;
            box-shadow: .2rem .1rem 1.5rem rgb(199, 205, 218);
            box-shadow: map-get($shadow, grande);
            .formulario__contenedor{
                .contenedor__subtitulo{
                    text-align: center;
                }
                .contenedor__form{
                    .form__input{
                        font-size: 1.3rem; 
                        color: $color-primario;
                        &:focus{
                            box-shadow: .1rem .1rem 1rem rgb(118, 164, 255);
                            border: $color-primario solid .1rem;
                            outline: none; 
                        }
                    }
                    .form__input3{
                        background-color: $color-secundario;
                        border: .1rem $color-primario solid;
                        border-radius: .2rem;
                        padding: .2rem 1rem;
                    }
                    .form__input4{
                        color: $color-secundario;
                        background-image: map-get($gradiantes, mobile);
                        border: solid .1rem $color-secundario;
                        border-radius: .2rem;
                        padding: .2rem 1rem;
                        &:focus{
                            box-shadow: .1rem .1rem 1rem #063dac;
                            border: #063dac solid .1rem;    
                            outline: none;                    
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */
@media only screen and (min-width: 768px){
    .contactanos{
        height: 55rem;
        /* 1er hijo */
        .contactanos__titulo{
            width: 50%;
            font-size: 3rem;
        }
        /* 2do hijo */
        .contactanos__aclaracion{
            align-items: flex-start;
            padding-left: 2rem;
            width: 100vw;
            .aclaracion__subtitulo{
                margin-left: 1rem;
                width: 40vw;
            }
            .aclaracion__texto2{
                padding-left: 1rem;
                margin-left: 1rem;
                width: 40vw;
            }
        }
        /* 3er hijo */
        .contactanos__opciones{
            .opciones__instagram{
                width: 50vw;
            }
            .opciones__form{
                .form__subtitulo{
                    text-align: start;
                    margin: 1rem;
                }    
            }
        }
    }
}

@media only screen and (min-width: 992px){
    .contactanos{
        height: 60rem;
        .contactanos__aclaracion{
            height: 18rem;
            .aclaracion__texto2{
                font-size: 1.3rem;
            }
        }
    }
}





