.htp{
    height: 65rem;
    /* 1er hijo */
    .htp__titulo{
        font-size: 3rem;
    }
    /* 2do hijo */
    .htp__SeguiLosPasos{
        background-image: map-get($gradiantes, mobile);
        box-shadow: map-get($shadow, mediana);
        height: 45rem;
        width: 100%;
        @include flexbox(column, space-evenly, center, nowrap);
        .SeguiLosPasos__subtitulo{
            text-align: center;
            border: solid .1rem $color-secundario;
            box-shadow: .2rem .2rem 1rem rgba(255, 255, 255, 0.466);
            padding: 0 1rem;
            width: 90%;
            color: $color-secundario;
        }
        .SeguiLosPasos__texto{
            font-size: 1.5rem;
            padding: 0 1rem;
            border: solid .1rem $color-secundario;
            box-shadow: .2rem .2rem 1rem rgba(255, 255, 255, 0.466);
            color: $color-secundario;
        }
        .SeguiLosPasos__contenedor{
            .contenedor__pasos{
                @include flexbox(column, space-evenly, center, nowrap);
                list-style: none;
                padding-left: 0;
                .paso__1, .paso__2, .paso__3{
                    @include flexbox(column, flex-start, center, nowrap);
                    margin: 1rem;
                    .paso__p{
                        text-align: center;
                        color: $color-secundario;
                        & a{
                            color: $color-secundario;
                        }
                    }
                }
            }
        }
    }
    /* 3er hijo */
    .htp__lugares{
        height: 30%;
        @include flexbox(column, space-evenly, center, nowrap);
        .lugares__subtitulo{
            font-size: 2rem;
            border: .1rem solid $color-primario;
            padding: 0 1rem;
        }
        .lugares__texto{
            font-size: 1.2rem;
            padding: 0 1rem;
            margin: 0 1rem;
            border-left: solid .1rem $color-primario;
        }
    }
    /* 4to hijo */
    .htp__celular{
        display: none;
    }
}


/* Tablet */
@media only screen and (min-width: 768px){
    /* padre */
    .htp{
        margin: 1rem;
        height: auto;
        display: grid;
        grid-template-areas: 
        "titulo  titulo  titulo"
        "pasos   pasos   celular"
        ".       lugares lugares"
        ;
        grid-template-rows: 5rem auto auto;
        grid-template-columns: 1fr 1fr 200px;
        row-gap: 3rem;
        column-gap: 3rem;
        /* 1er hijo */
        .htp__titulo{
            grid-area: titulo;
            justify-self: center;
        }
        /* 2do hijo */
        .htp__SeguiLosPasos{
            grid-area: pasos;
            align-items:  center;
            font-size: 1.2rem; 
            height: 40rem;
            .SeguiLosPasos__subtitulo{
                margin: 0 1rem;
                font-size: 1.5rem;
                width: auto;
            }
            .SeguiLosPasos__contenedor{
                .contenedor__pasos{
                    .paso__1, .paso__2, .paso__3{
                        display: flex;
                        flex-direction: row;
                        .paso__p{
                            text-align: start;
                            padding: 0 0 0 1rem;
                            margin-left: 1rem;
                            border-left: solid .1rem $color-secundario;
                        }
                    }
                }
            }
        }
        /* 3er hijo */
        .htp__lugares{
            grid-area: lugares;
            height: 20rem;
            border: solid .1rem $color-primario;
            .lugares__texto{
                border-left: none;
                border-right: .1rem solid $color-primario;
                text-align: end;
            }
        }
        /* 4to hijo */
        .htp__celular{
            grid-area: celular;
            @include flexbox(row, center, center, nowrap);
            .celular__img{
                width: 216px;
                height: 384px;
            }
        }
    }
}

/* Laptop*/
@media only screen and (min-width: 992px){
    .htp{
        grid-template-columns: 1fr 1fr 300px;
        .htp__celular{
            .celular__img{
                width: 270px;
                height: 480px;
            }
        }
    }
}
/* Desktop */
@media only screen and (min-width: 1040px){
    .htp{
        grid-template-columns: 1fr 1fr 500px;
        .htp__celular{
            .celular__img{
                width: 360px;
                height: 640px;
            }
        }
    }
}

